body{
    margin:0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    top: 0;
}

h3{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

a{
    color: inherit;
    text-decoration: none;
}

table th {
    width: auto !important;
}

.headings{
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    letter-spacing: 0.05em;
}

.nav-menu{
position: fixed;
width: 18%;
height: 100vh;
left: 0;
bottom: 0;
top: 0;
background: #F50057;
color: #fff;
float: left;
display: inline;
}

.profile-picture {
    border-radius: 50%;
}

.picture-container{
    text-align: center;
}

#Name {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    margin-bottom: 2px;
    margin-top: 5px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 600;
}

#Designation {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    margin-top: 2px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.picture-holder {
    margin: 20px;
    margin-bottom: 0;
}

.manage, .personal{
    margin-top: 5px;
    padding: 15px;
    padding-top: 0;
}

.manage-list {
    list-style: none;
    margin: 0;
    padding-left: 10px;
}

a:hover{
    background: #fff;
    color: #666;
}

.menu-items{
    font-size: 15px;
    padding: 10px;
    text-transform: uppercase;
}

.menu-items > i{
    float: left;
}

.ic {
    height: 18px;
    width: 18px;    
}

.lk {
    display: inline;
}

.fas {
    font-size: 1em;
    margin-right: 10px; 
}

.personal-list {
    list-style: none;
    margin: 0;
    padding-left: 10px;

}

.logout {
    padding-bottom: 15px;
    position: absolute;
    bottom:0;
    text-align: center;
    width: 100%;
}

.main-container {
    display: inline;
    float:right; 
    width: 82%;
    height: 100%;
}

.nav-bar{
/*
    background: #FCFCFC;
    width:80%;
    height:60px;
    border-bottom: 1px solid #eee;
    display: inline;
    float: right;
*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;
    border-bottom: 1px solid #eee;
    height: 50px;
}

.fas-search {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.navigation-link {
    width: 5%;
    height: 100%;
    border-right: 1px solid #eee; 
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.search-bar {
    height: 100%;
    width: 85%;
}

.search-bar input[type=text]{
    height: 30px;
    border: none;
    background-image: url(/images/search-solid.svg);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 35px; 
    width: 100%;
    text-transform: capitalize;
}

::placeholder{
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

.export-link {
    height: 100%;
    width: 5%;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.logout-link {
    height: 100%;
    width: 5%;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.heading {
    display: block;
    width: 100%;
    height: 150px;
}


.heading-designation {
    font-family:'Roboto Condensed', sans-serif;
    font-size: 40px;
    padding-top: 30px;
    padding-left: 45px;
    font-weight: bold;
}

#main{
    display: inline;
    float: left;
}

#branch {
    font-size: 24px;
    margin:0;
    font-weight: normal;
    color: #616161;
}

#symbi-logo {
    height: 100px;
    width: 80px;
    padding-top: 20px;
    padding-right: 20px;
}

#logo {
    display: inline;
    float: right;
    margin: 0;
}

.profile-icon {
/*
    margin-left: 30px;
    margin-right: 30px;
*/
    margin: 30px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
}

#faculty-name {
    color: #212121;
    font-size: 24px;
}

#faculty-desc {
    margin: 0;
    color: #616161;
    font-size: 18px;
}

.link-spanner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}

.filters {
    width: 100%;
    text-align: left;
    height: 100%;
    border-bottom: 5px solid #eee;
    padding: 10px;
}

input[type=date]{
    border: none;
    opacity: 0.6;
    background: transparent;
}

#from-date {
    margin-left: 30px;
    width: 50%;
    display: inline;
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
/*
    border: 1px solid #c4c4c4;
    border-radius: 5px;
*/
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}   

#to-date {
    margin-left: 30px;
    width: 50%;
    display: inline;
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
/*
    border: 1px solid #c4c4c4;
    border-radius: 5px;
*/
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
}
#filter-search {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

#filter-search input[type=text]{
    border: none;
    border-bottom: 2px solid #eee;
    text-transform: capitalize;
}

.filter-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 5px;
}

.filter-checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 12px;
    margin-right: 12px;
    padding: 10px;
    padding-top: 0;
}

.filter-checkbox > div{
    width: 15%;
}

.filter-checkbox input[type=checkbox]{
    margin: 10px;
    
}

.filter-submit input[type=submit]{
    width: 100%;
    text-align: center;
    padding: 5px;   
    border: none;
    border-radius: 5px;
}

.filter-submit input[type=submit]:hover{
    cursor: pointer;
    background: #c4c4c4;
}

.table th:nth-child(even){
    background: #B1AAAA;
    color: #fff;
    border-bottom: none;
}
.table th:nth-child(odd){
    background: #7E7A7A;
    color: #fff;
    border-bottom: none;
}

.table td{
    padding: .75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}

.table tr:nth-child(even){
    background: #eee;
    color: #000;
    border-bottom: none;
}
.table tr:nth-child(odd){
    background: #fff;
    color: #000;
    border-bottom: none;
}

.credentials {
    width: 100%;
    display: inline;
}

.prof-div {
    float: left;
    width: 30%;
    text-align: center;
    height: 500px;
}

.account-form {
    display: inline;
    width: 70%;
    float: left;
}

.account-form input[type=text]{
    border: none;
    border-bottom: 1px solid #c4c4c4;
}

.account-form label{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.names {
    display: inline;
    margin-bottom: 10px;
}

.account-form #firstname{
    float: left;
    width: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.account-form #lastname{
    float: left;
    width: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
}


#department-designation {
    display: inline;
    float: left;
    width: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
}
#change-password {
    position: relative;
}

.passwordbox {
    position: absolute;
    width: 450px;
    height: 500px;
    left: 170px;
    top: 0;
    background: #eee; 
    border-radius: 10px;
    text-align: left;
    text-transform: uppercase;
}

.password-forms{
    padding: 20px;
    margin: 10px;
}

.password-forms input[type=password]{
    border: none;   
    background: none;
    border-bottom: 1px solid #c4c4c4;
    width: 200px;
}

.password-forms input[type=submit]:hover{
    cursor: pointer;
}
