body{
    margin:0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    top: 0;
}

h3{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

a{
    color: inherit;
    text-decoration: none;
}

table th {
    width: auto !important;
}

.headings{
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    letter-spacing: 0.05em;
/*    margin: 10px;*/
}

.nav-menu{
position: fixed;
width: 18%;
height: 100vh;
left: 0;
bottom: 0;
top: 0;
background: #F50057;
color: #fff;
float: left;
display: inline;
}

.profile-picture {
    border-radius: 50%;
}

.picture-container{
    text-align: center;
}

#Name {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    margin-bottom: 2px;
    margin-top: 5px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 600;
}

#Designation {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    margin-top: 2px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.picture-holder {
    margin: 20px;
    margin-bottom: 0;
}

.manage, .personal{
    margin-top: 5px;
    padding: 15px;
    padding-top: 0;
}

.manage-list {
    list-style: none;
    margin: 0;
    padding-left: 10px;
}

a:hover{
    background: #fff;
    color: #666;
}

.menu-items{
    font-size: 15px;
    padding: 10px;
    text-transform: uppercase;
}

.menu-items > i{
    float: left;
}

.ic {
    height: 18px;
    width: 18px;    
}

.lk {
    display: inline;
}

.fas {
    font-size: 1em;
    margin-right: 10px; 
}

.personal-list {
    list-style: none;
    margin: 0;
    padding-left: 10px;

}

.logout {
    padding-bottom: 15px;
    position: absolute;
    bottom:0;
    text-align: center;
    width: 100%;
}

.main-container {
    display: inline;
    float:right; 
    width: 82%;
    height: 100%;
}

.heading {
    display: block;
    width: 100%;
    height: 120px;
}


.heading-title {
    font-family:'Roboto Condensed', sans-serif;
    font-size: 40px;
    padding-top: 30px;
    padding-left: 45px;
    font-weight: bold;
    text-transform: uppercase;
}

#main{
    display: inline;
    float: left;
}

#symbi-logo {
    height: 100px;
    width: 80px;
    padding-top: 20px;
    padding-right: 20px;
}

#logo {
    display: inline;
    float: right;
    margin: 0;
}

.fdp-form {
    width: 90%;
    height: 100%;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: 30px;
    padding: 30px;
}

.form-divs {
    margin: 15px;
    padding: 3px;
    width: 100%;
    display: block;
}

.form-divs label{
    display: inline-block;
    margin-bottom: .5rem;
    width: 50%;
}

.form-divs input[type=text]{
    border: none;
    border-bottom: 2px solid #c4c4c4;
    display: inline;
    float: right;
    width: 50%;
    transition: border-bottom 1s ease;
}

.form-divs input[type=text]:focus {
    border-bottom: 2px solid #212121;
    transition: border-bottom 1s ease;
}

.form-divs span{
    margin: 10px;
}

#pages {
    vertical-align: top;  
    width: 10%;
    text-align: center;
}

.submit-reset{
    margin: 15px;
    padding: 3px;
    width: 100%;
    display: inline;
}

.submit-reset div{
    float: right;
    margin: 10px;
}

.fdp-form-page1 {
    width: 50%;
    height: 100%;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid #eee;
    border-radius: 5px;
    box-shadow: 5px 5px #c4c4c4;
    margin-top: 60px;
}

.submit-button {
    float: right;
    width: 40%;
    height: 40px;
}

.submit-button input[type=submit]{
    float: right;
    width: 40%;
    height: 40px;
}